<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.computeraptor.assamguide"
        versionCode="1"
        version   = "1.0">

    <!-- versionCode is optional and Android only -->

    <name>Assam Guide</name>

    <description>
        A comprehensive guide to the majestic state of Assam.
    </description>

    <author href="https://www.computeraptor.in" email="ibtisam.tauhidi@hotmail.com">
        Syed I. Tauhidi 
    </author>
	
	<icon src="icon.png" />
	<preference name="fullscreen" value="true" />
	<preference name="permissions" value="none"/>
	
</widget>