<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.snx.assamguide"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Assam Guide</name>

    <description>
        Guide To Assam. 
    </description>

    <author href="https://www.ssitncaspcn.in" email="ibtisam.tauhidi@hotmail.com">
        Syed I. Tauhidi 
    </author>

</widget>